html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}
.menu {
    left: 12em;
}
.no-menu {
    left: 16%;
}
.map {
    bottom: 0px;
    height: 100%;
    position: absolute;
    right: 0px;
}
#placelist {
    margin: 0;
    padding: 0;
    height: 100%;
}
#list_item {
    list-style-type: none;
    border: 0;
    padding: 0;
    margin: 0;
}
#error {
    display: block;
    bottom: 0px;
    height: 50%;
    position: absolute;
    right: 0px;
    width: 50%;
    margin: 0 auto;
    color: red;
}
.container {
    height: 100%;
    position: relative;
}
.menuIcon {
    padding: 0;
}
.filter {
    display: flex;
    align-items: baseline;
}
.show-box {
    transform: translate3d(0, 2, 0);
    transition: transform 0.2s;
    width: 12em;
}
.search-box {
    overflow: hidden;
    background: Gainsboro;
    border: 1px solid #999;
    border-radius: 3px;
    height: 100%;
    line-height: 35px;
    padding: 0;
    text-align: left;
}
.hidden-box {
    transform: translate3d(-50em, 0, 0);
    transition: transform 0.2s;
    width: 35%
}
.header {
    background: #4caf50;
    color: #fff;
    position: fixed;
    top: 0;
    width: 100%;
    padding: 0;
}
