html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}
.map {
    bottom: 0px;
    height: 100%;
    position: absolute;
    right: 0px;
    left: 0;
}
#placelist {
    margin: 0;
    padding: 0;
    height: 100%;
}
#list_item {
    list-style-type: none;
    border: 0;
    padding: 0;
    margin: 0;
}
#error {
    display: block;
    bottom: 0px;
    height: 50%;
    position: absolute;
    right: 0px;
    width: 50%;
    margin: 0 auto;
    color: red;
}
.container {
    height: 100%;
    position: relative;
}
.menuIcon {
    padding: 0;
}
.filter {
    display: flex;
    align-items: baseline;
}
.search-box {
    position: absolute;
    z-index: 1;
    overflow: hidden;
    background: Gainsboro;
    border: 1px solid #999;
    border-radius: 3px;
    height: 100%;
    line-height: 35px;
    padding: 0;
    text-align: left;
}
.header {
    z-index: 2;
    background: rgba(76,175,80,0.65);
    color: #fff;
    font-size: 26px;
    position: fixed;
    top: 0;
    width: 1em;
    padding: 0;
}

.closebtn {
    position: absolute;
    top: 0;
    right: 5px;
    font-size: 36px;
    margin-left: 0;
    padding: 0;
    text-decoration: none;
    font-size: 25px;
    color: black;
    display: block;
    transition: 0.3s;
}
